################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DeckOfCards/ClientApp/e2e/src/app.e2e-spec.ts
